* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
  font-size: 36px;
  text-align: center;
  padding: 16px;
  border-bottom: 1px solid;
  margin-bottom: 16px;
}

.add-contact-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
}

.add-contact-form-container {
  display: none;
}
